<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Sentiment Analysis</title>
    </head>

    <body>

        <header>
            <div class="">
                
            </div>
            <div class="">
                
            </div>
        </header>

        <main>
            <section>
                <form id="form1" class="">
                    <input id="input" type="text" placeholder="Text for analysis...">
                    <input type="submit" >
                </form>
            </section>

            <section>
                <h3>Results:</h3>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>

            </p>
        </footer>

    </body>
</html>
